@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Vazir";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../fonts/Vazir/Vazir-Regular-FD.woff2") format('woff2');
    }
    @font-face {
        font-family: "Vazir Medium";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../fonts/Vazir/Vazir-Medium-FD.woff2") format('woff2');
    }
    @font-face {
        font-family: "Vazir Bold";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../fonts/Vazir/Vazir-Bold-FD.woff2") format('woff2');
    }
    @font-face {
        font-family: "Vazir Light";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../fonts/Vazir/Vazir-Light-FD.woff2") format('woff2');
    }
    @font-face {
        font-family: "Vazir Black";
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url("../fonts/Vazir/Vazir-Black-FD.woff2") format('woff2');
    }
}

@layer components {
    .header-banner {
        @apply h-20 bg-blueBrand flex justify-between items-center mx-auto w-full
    }

    .header-banner__right,
    .header-banner__left {
        @apply hidden md:flex gap-2.5 pr-9 pl-9
    }

    .header-banner__title {
        @apply mt-0 mx-auto font-vazirBold text-white text-2xl drop-shadow-bannerTitle
    }

    .header-seperator::after {
        content: "";
        @apply absolute m-auto left-0 right-0 bottom-6 md:-bottom-6 bg-grayTint_2 w-full lg:w-[90%] h-[1px]
    }

    .header-shopping-cart--notif {
        @apply flex justify-center items-center absolute -top-1.5 -right-2 text-sm size-4 bg-grayTint_1 text-orangeBrand font-vazir rounded-full cursor-pointer
    }

    .nav-menu-desktop__item {
        @apply px-1.5 py-3 transition-all
    }

    .nav-menu-desktop__item--active {
        @apply bg-orangeBrand text-white rounded-xl cursor-pointer
    }

    .nav-menu-desktop__seperator::after {
        content: "";
        @apply absolute bottom-0 top-0 -right-2.5 m-auto h-full border-[1.5px] border-dashed border-grayTint_2 z-10
    }

    .stories__item::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        background: linear-gradient(141deg, rgba(238, 117, 34, 0.29) 14.7%, #EE7522 89.66%);
        z-index: 0;
    }

    .taminel-sport__item,
    .promo-area__item {
        @apply relative
    }

    .taminel-sport__img,
    .promo-area__img {
        @apply size-full overflow-hidden object-fill rounded-xl
    }

    .taminel-sport__caption,
    .promo-area__caption {
        backdrop-filter: blur(2px);
        @apply flex-between absolute left-0 right-0 bottom-0 h-1/4 w-full bg-custom-gradient text-white pr-5 pl-2 py-4 rounded-b-xl transition
    }

    .taminel-sport__caption:hover,
    .promo-area__caption:hover {
        backdrop-filter: blur(2px);
        @apply bg-custom-gradient2
    }

    .category__title,
    .special-product__title {
        @apply flex-center gap-x-1.5 my-10
    }

    .special-product__wrapper {
        @apply grid grid-cols-2 xs:grid-cols-3 sm:grid-cols-4 lg:grid-cols-6 border-collapse border border-neutralBorder rounded-[14px]
    }

    .special-product__item {
        @apply flex-center flex-col gap-y-1 border-collapse border border-neutralBorder p-3
    }

    /* Set Border Radius for Grid Items Special Product */
    .special-product__item:nth-child(1) {
        @apply rounded-tr-xl
    }

    .special-product__item:nth-child(6) {
        @apply lg:rounded-tl-xl
    }

    .special-product__item:nth-child(7) {
        @apply lg:rounded-br-xl
    }

    .special-product__item:nth-child(12) {
        @apply rounded-bl-xl
    }

    .special-product__item:nth-child(4) {
        @apply sm:rounded-tl-xl lg:rounded-none
    }

    .special-product__item:nth-child(9) {
        @apply sm:rounded-br-xl lg:rounded-none
    }

    .special-product__item:nth-child(3) {
        @apply xs:rounded-tl-xl sm:rounded-none
    }

    .special-product__item:nth-child(10) {
        @apply xs:rounded-br-xl sm:rounded-none
    }

    .special-product__item:nth-child(2) {
        @apply rounded-tl-xl xs:rounded-none
    }

    .special-product__item:nth-child(11) {
        @apply rounded-br-xl xs:rounded-none
    }



    .overlay {
        @apply fixed inset-0 z-10 bg-overlayBcg invisible opacity-0 w-full h-full transition-all
    }

    .overlay--visible {
        @apply visible opacity-100
    }


    /* 
    
    ============
    -- Panel --
    ============
    
    */

    /* Sidebar */
    .panel__sidebar {
        @apply fixed top-10 bottom-10 -right-72 md:right-auto flex flex-col justify-between w-72 text-rose-50 dark:text-neutral-800 bg-rose-500 pt-2 pb-6 rounded-3xl overflow-y-auto overflow-x-hidden transition-all z-50;
    }
    .panel__sidebar::-webkit-scrollbar {  
        width: 6px;
    }
    
    .panel__sidebar::-webkit-scrollbar-thumb {
        @apply bg-neutral-200 dark:bg-neutral-800 rounded-3xl cursor-pointer;     
    }
    
    .panel__sidebar::-webkit-scrollbar-thumb:hover {
        @apply bg-neutral-300 dark:bg-neutral-700;
    }
    
    .panel-sidebar-menu__item--active {
        @apply bg-neutral-50 dark:bg-neutral-800 text-rose-500 dark:text-rose-50;
    }

    /* alert message */
    .panel__alert-message {
        @apply  flex items-center gap-2.5 min-h-14 bg-blue-500 text-neutral-50 font-vazirMedium text-lg sm:text-xl px-4 rounded-2xl;
    }

    /* Order */

    .panel-situation__success {
        @apply bg-green-100 text-green-600;
    }
    .panel-situation__fail {
        @apply bg-red-100 text-red-600;

    }
    .panel-situation__review {
        @apply bg-yellow-100 text-yellow-600;
    }

    /* Pagination */
    .panel__pagination {
        @apply text-lg flex items-center justify-center size-10 font-vazirMedium border border-rose-500 rounded-lg sm:cursor-pointer sm:hover:text-neutral-50 sm:hover:bg-rose-500 transition-colors;
    }
    .panel__pagination--active {
        @apply text-neutral-50 bg-rose-500;
    }

}

@layer utilities {
    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-between {
        @apply flex justify-between items-center
    }

    .dir-rtl {
        text-align: right;
        direction: rtl;
    }
}